.nav-bar {
    width:100%;
    position: fixed;
    background-color: #263238;
    left:0;
    top:0;
}
.nav-brand {
    float:left;
    padding-left:10px;
    padding-top:15px;
    text-align:center;
}
.brand-icon {
    text-align: justify;
}
.brand {
    font-family: 'Calibri';
    font-size:20px;
    color:#e0e0e0;
}
.link-bar {
    float:right;
    margin-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.link-bar-color {
    color:#e0e0e0;
}
.person {
    text-align: center;
    width:100%;
}
.person-img {
    width:50%;
    text-align: center;
    border-radius: 50%;
}